.header {
  width: 100%;
  border: 1px solid red;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 4rem;
    width: 100%;
    text-align: center;
  }
  div {
    padding-bottom: 3px solid $backgroundColor2;
    width: 10rem;
    height: 1rem;
  }
}