.menu {
  //border: $border;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 70%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;


    li {
      padding: 1rem;
      font-size: 1.5rem;
      .menuLink {
        color: #2F4F4F;
        link: normal;
        text-decoration: none;
        margin: 2rem;
      }
    }
  }
}

.active {
  background-color: $backgroundColor3;
  padding: 1.345rem 2rem 1.4rem 2rem;
  //border: $border;
  box-shadow: $boxShadow;
}

