#projects {
  border: $border;
  margin-top: 3rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: $boxShadow;
  //border: $border;
  .title {
    //border: $border;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      background-color: $backgroundColor3;
      padding-top: 0;
      width: 30%;
      font-size: 2rem;
      margin-top: 4rem;
      text-align: center;
      box-shadow: 0px 2px 10px #888888;
    }
  }
  .galleryImage {
    //border: $border;
    background-image: url("../images/project1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 30%;
    opacity: 0.6;
  }
  .projShortText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 30%;
    padding: 3%;
    //border: $border;
height: 50%;
    width: 50%;
    font-size: 1rem;
    color: black;
    text-align: center;
  }
}


/* The button-maker */
@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {
  background: none;
  border: 0;
  font-size: $font-size;
  line-height: $height;
  position: relative;
  width: $width;
  height: $height;

  @if $direction == "up" {
    transform: rotate(-90deg);
  }  @else if $direction == "down" {
    transform: rotate(90deg);
  }

  a {
    color: $color;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  &::before,
  &::after {
    background: $background;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
    height: $height/2;
  }


  &::before {
    box-shadow:
            -1px 1px 0 $shadow,
            -2px 2px 0 $shadow,
            -3px 3px 0 $shadow,
            -4px 4px 0 $shadow;
    transform: skew(45deg);
    @if $direction == "left" { bottom: 0; z-index: 1 }
    @else { top: 0; }
  }

  &::after {
    box-shadow: 1px 1px 0 $shadow,
    2px 2px 0 $shadow,
    3px 3px 0 $shadow,
    4px 4px 0 $shadow;
    transform: skew(-45deg);
    @if $direction == "left" { top: 0;}
    @else { bottom: 0; }
  }

  &:hover::before,
  &:hover::after {
    background: lighten($background,15%);
  }

  &:focus {
    &::before,
    &::after {
      background: lighten($background,15%);
    }
    outline: 0;
  }
}

/* How to include it */
.btn-right {
  @include arrow-button($textColor, $backgroundColor3, $backgroundColor3, 22px, 5em, 2em, right);

  &:hover {
    //animation: zoom 2s;
  }
}

.btn-left {
  @include arrow-button($textColor, $backgroundColor3, $backgroundColor3, 22px, 5em, 2em, left);

  &:hover {
    //animation: spin 1.5s linear;
  }
}

.btn-up {
  @include arrow-button(#fff, #e4135d, #c81163, 22px, 4em, 3em, up);
}

.btn-down {
  @include arrow-button(#fff, #29c0d5, #1897c0, 22px, 6em, 4em, down);
  margin-top: 3em;
}

@keyframes zoom {
  25% {
    transform: scale3d(1.5,1.5,0);
  }

  50% {
    transform: scale3d(1,1,0);
  }

  75% {
    transform: scale3d(1.25, 1.25, 0);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}




button a {
  top: -2px; // Better alignment for font
}