html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.App {
  background-color: white;
  color: #2F4F4F;
  padding: 10px; }

.container {
  width: 90%;
  margin: 0 auto; }

.content {
  width: 90%;
  height: 40em;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .header h1 {
    padding-top: 1%;
    font-size: 4rem;
    width: 100%;
    text-align: center; }
  .header #line {
    margin: 3%;
    border-bottom: 3px solid gray;
    width: 20rem;
    height: 1rem; }
  .header #icons {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .header #icons div:first-child {
      margin: 0 2rem;
      width: 2rem;
      height: 2rem;
      background-image: url("../images/linkedin-icon.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%); }
    .header #icons div:nth-child(2) {
      margin: 0 2rem;
      width: 2rem;
      height: 2rem;
      background-image: url("../images/github-logo.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .menu ul {
    width: 70%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    .menu ul li {
      padding: 1rem;
      font-size: 1.5rem; }
      .menu ul li .menuLink {
        color: #2F4F4F;
        link: normal;
        text-decoration: none;
        margin: 2rem; }

.active {
  padding: 1.345rem 2rem 1.4rem 2rem;
  box-shadow: 2px 4px 18px #888888; }

#about {
  margin-top: 3rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 18px #888888; }
  #about h1 {
    padding-top: 0;
    width: 30%;
    font-size: 2rem;
    margin-top: 4rem;
    text-align: center;
    box-shadow: 0px 2px 10px #888888; }
  #about .text {
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
    margin-top: 5rem; }

#projects {
  margin-top: 3rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 18px #888888; }
  #projects .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #projects .title h1 {
      padding-top: 0;
      width: 30%;
      font-size: 2rem;
      margin-top: 4rem;
      text-align: center;
      box-shadow: 0px 2px 10px #888888; }
  #projects .galleryContent {
    witdh: 100%;
    margin-top: 5%; }
    #projects .galleryContent .galleryPart {
      margin-top: 4%;
      width: 100%;
      display: flex;
      justify-content: space-around; }
      #projects .galleryContent .galleryPart .galleryImage {
        border: 0.5px solid gray;
        background-image: url("../images/project1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 20rem;
        height: 15rem;
        opacity: 0.8; }
      #projects .galleryContent .galleryPart .projShortText {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        left: 30%;
        padding: 3%;
        height: 50%;
        width: 50%;
        font-size: 1rem;
        color: black;
        text-align: center; }
  #projects .galleryButtons {
    witdh: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly; }

/* The button-maker */
/* How to include it */
.btn-right {
  background: none;
  border: 0;
  font-size: 22px;
  line-height: 2em;
  position: relative;
  width: 5em;
  height: 2em; }
  .btn-right a {
    color: #2F4F4F;
    text-decoration: none;
    position: relative;
    z-index: 10; }
  .btn-right::before, .btn-right::after {
    background-color: white;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
    height: 1em; }
  .btn-right::before {
    box-shadow: 2px 4px 18px #888888;
    transform: skew(45deg);
    top: 0; }
  .btn-right::after {
    box-shadow: 2px 4px 18px #888888;
    transform: skew(-45deg);
    bottom: 0; }
  .btn-right:focus {
    outline: 0; }

.btn-left {
  background: none;
  border: 0;
  font-size: 22px;
  line-height: 2em;
  position: relative;
  width: 5em;
  height: 2em; }
  .btn-left a {
    color: #2F4F4F;
    text-decoration: none;
    position: relative;
    z-index: 10; }
  .btn-left::before, .btn-left::after {
    background-color: white;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
    height: 1em; }
  .btn-left::before {
    box-shadow: 2px 4px 18px #888888;
    transform: skew(45deg);
    bottom: 0;
    z-index: 1; }
  .btn-left::after {
    box-shadow: 2px 4px 18px #888888;
    transform: skew(-45deg);
    top: 0; }
  .btn-left:focus {
    outline: 0; }

@keyframes zoom {
  25% {
    transform: scale3d(1.5, 1.5, 0); }
  50% {
    transform: scale3d(1, 1, 0); }
  75% {
    transform: scale3d(1.25, 1.25, 0); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

button a {
  top: -2px; }

#footer {
  width: 70%;
  height: 3rem; }
